<a href="https://colab.research.google.com/github/saddam-satria/learning-material/blob/master/belajar_coding_pt_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## Variabel

Variabel digunakan ketika kita ingin menampung sementara suatu nilai 

*note 
jangan terlalu banyak membuat variabel karena nantinya variabel akan di simpan kedalam memory

In [ ]:
a = 10
b = 20

terdapat 2 variabel yaitu a dan b dengan nilai masingÂ² yaitu 10 dan 20


#### note
nilai dalam variabel itu bebas, kita bisa menyimpan apapun di dalam variabel

#### studi kasus
- biasanya pada pembuatan back end setiap query data dari database akan di simpan ke dalam variabel untuk di proses selanjutnya

- pada front end biasanya variabel digunakan untuk menampung nilai tertentu yang sifatnya dynamic (berubah ubah)

- pada kasus tertentu variabel juga dapat bersifat function

In [ ]:
b = a + b

In [ ]:
print(b)

30

## tipe data

1. Int 
2. Float
3. String
4. Array
5. Object (dictionary)
6. boolean

In [ ]:
a = 10
b = 2.0
c = "belajar coding"
d = ["test",1]
e = {"a" : "coding", "b": 1}
f = True

In [ ]:
print (type(a))
print (type(b))
print (type(c))
print (type(d))
print (type(e))
print (type(f))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>


#### tipe data yang sering digunakan
1. int,float,string,boolean
2. array 
3. object/dictionary
4. array object / array associative (PHP)


#### array object (point ke-4) case
- biasanya data yang di ambil dari database
- ketika memasukkan data ke dalam database
- bentuk format JSON / Ajax (http request) selalu dikembalikan dalam bentuk array object 
  contoh: list produk yang memiliki nama di tiap produknya

In [ ]:
products = [
   {
     "name" : "candy",
      "price" : 1
   },
   {
     "name": "chocolate",
     "price" : 2
   }
]

untuk memproses data seperti di butuhkan looping (perulangan)

In [ ]:
for i in products:
    print (i["name"])
print("*"*20)
for i in products:
    print(i["price"])

candy
chocolate
********************
1
2

Convert tipe data dapat dilakukan jika tipe data tidak sesuai

- biasanya pada operasi matematika dibutuhkan tipe data int/float, namun sering kali data yang diterima dan akan diproses bertipe data string

In [ ]:
x = 10
print (type(x))
x = str(x)
print (type(x))

<class 'int'>
<class 'str'>

In [ ]:
if not type(x) is int:
   raise TypeError("x is not number")

In [ ]:
userInput = input ("choose 1-100 ")
print (type(userInput))

userInput = int(userInput)
print (type(userInput))

## looping & pengkondisian


#### note
- pada dasarnya cara komputer memproses script adalah dari atas sampai ke bawah dan dilakukan secara synchronous 

  artinya ketika ada suatu perulangan, maka perulangan tsb harus berhenti terlebih dahulu baru code berikutnya dijalankan

- tips untuk pengkondisian, jangan fokus kepada pengkondisian bersarang,tunggal,dll. Karena, pengkondisian tetaplah kondisi jadi harus sesuai sama casenya nanti
  
  jika terlalu banyak if maka program akan sulit untuk dibaca oleh manusia, maka dari itu buatlah function khusus untuk pengkondisian saja dengan bantuan tipe data boolean sebagai acuannya (triggernya). Akan di bahas pada sesi function

In [ ]:

print("looping berjalan")

for i in range (1,11):
    print(f"looping ke-{i}")


print ("looping terhenti")

In [ ]:
product = products [0]

if product["name"] == "candy":
   print("this is a candy")
else:
   print("this is not candy")

In [ ]:
index = 1
while True:
      if index > 10:
         break
      print (f"looping ke - {index}")
      index = index + 1

Sebelum lanjut 

### note
  - penulisan syntax tiap bahasa berbeda beda, tapi fungsinya sama
  - latih logikanya jangan syntaxnya
  - biar terbiasa dengan syntax coba yang namanya "trial n error"
  - kalau ingin menulis biasakan mengingat pembuka,penutup dan blok codenya
    
    contoh pada python 

    if arg == kondisi:

        ini blok kode punya if

    contoh pada PHP

    function nama_function()
     {
       
        ini blok kode function
    
     }
    
    jika menulisnya di luar dari blok kode maka kodenya akan di anggap bukan bagian dari blok tsb
 
  - gunakan nama variabel sesuai dengan isi nilainya

  - sebelum memakai variabel wajib di inisialisasi kan terlebih dahulu

      contoh salah 

      if gorengan == "ubi":

         do something 
      
      contoh benar 

      gorengan = "ubi"

      if gorengan == "ubi":
         do something

## function

function berisi sekumpulan perintah / code. 

### note
- function biasanya sesuai dengan use case, 1 function berisi 1 case
  contoh: function menghitung rumus segitiga harus berbeda dengan function menghitung rumus persegi

- function bersifat reuseable (dapat di gunakan lagi)
  
  contoh: function untuk memvalidasi suatu data, dapat digunakan di banyak case

In [ ]:
def sayHello():
    print("hello")
sayHello()

### argument / parameter

setiap function dapat diberikan suatu parameter (passing data to function)

In [ ]:
def whoAmI(name):
    print(name)

whoAmI("Udin")

### function expression

function yang dapat mengembalikan nilai

In [ ]:
def calculateDiscount(value,discount):
    return value - discount

In [ ]:
flashSaleProducts = [
    {"name": "pomade","price":5},
    {"name": "ferrari", "price":2000}
]
flashSaleProducts

In [ ]:
def setFlashSale():
    newProduct = []
    for product in flashSaleProducts:
        newPrice = calculateDiscount(product["price"],2)
        newProduct.append(
           {"name": product["name"],"price" : newPrice }
        )
    return newProduct

In [ ]:
setFlashSale()

## Pertanyaan